/*Page Pre-Set*/
/*#f685a2*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
/*Side Bar Start*/
#sideBar{
    background-color: rgb(40, 40, 40);
    width: 17%;
    min-width: 170px;
    height: 100vh;
    /*width: max-content;*/
}
#sideBar h1{
    color: #f685a2;
    font-size: max(35px, 3.3vw);
    text-align: center;
    margin-bottom: 1.7vh;
    margin-top: 2vh;
}
#sideBar div{
    text-align: center;
}
#sideBar div img{
    width: 35px;
    border-radius: 100%;
    border: #f685a2 solid;
}
#sideBar div span{
    color: white;
    vertical-align:70%;
}
#sideBar ul{
    border-top: white solid 1px;
    padding-left: 0%;
    padding-top: 1vh;
}
#sideBar ul li{
    list-style-type: none;
    text-align: center;
    margin: 4%;
    transition: background-color 0.15s;
}
#sideBar ul li:hover{
    background-color: #f685a2;
    transition: background-color 0.15s;
}
#sideBar ul li a i{
    color: white;
    font-size: 110%;
}
/*Side Bar End*/
/*Main Start*/
#mainPart{
    width: 83%;
}
#mainPart div{
    padding-top: 2vh;
}
#mainPart div .fa-navicon{
    color: black;
    font-size: 1.2rem;
    padding-left: 1%;
    transition: color 0.1s;
}
#mainPart div .fa-navicon:hover{
    color: #f685a2;
    transition: color 0.1s;
}
#mainPart div .fa-power-off{
    float: right;
    clear: both;
    padding-right: 1.5%;
    color: black;
    transition: color 0.1s;
}
#mainPart div .fa-power-off:hover{
    color: #f685a2;
    transition: color 0.1s;
}
#mainPart div i{
    font-size: 1.1rem;
}
#mainPart #break{
    height: 10px;
    margin-top: 8px;
    background-color: rgb(212, 212, 212);
}
/*Main End*/